
            <!-- partial:../../partials/_footer -->
            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
                <p class="text-muted text-center text-md-left">Copyright © 2020 <a href="#" target="_blank">Qrioustech</a>. All rights reserved</p>
            </footer>
             
            <!-- partial -->
   
 
</body>
</html>