<!-- partial:../../partials/_sidebar -->
<nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            Qrious<span>Tech</span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            <!-- <li class="nav-item nav-category">Main</li> -->
            <li class="nav-item">
                <a href="index" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="user">
                    <i class="link-icon" data-feather="user"></i>
                    <span class="link-title">User</span>
                    <!-- <i class="link-arrow" data-feather="chevron-down"></i> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="email">
                    <i class="link-icon" data-feather="mail"></i>
                    <span class="link-title">Email</span>
                    <!-- <i class="link-arrow" data-feather="chevron-down"></i> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="chat">
                    <i class="link-icon" data-feather="message-square"></i>
                    <span class="link-title">Chat</span>
                    <!-- <i class="link-arrow" data-feather="chevron-down"></i> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#emails" role="button" aria-expanded="false"
                    aria-controls="emails">
                    <i class="link-icon" data-feather="settings"></i>
                    <span class="link-title">Setting</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="emails">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="change-password" class="nav-link">Change Password</a>
                        </li>
                        <li class="nav-item">
                            <a href="profile" class="nav-link">Profile</a>
                        </li>

                    </ul>
                </div>
            </li>

        </ul>
    </div>
</nav>

<!-- partial -->
