<%- include('partials/header') %> 

    <link rel="stylesheet" href="assets/vendors/core/core.css">

    <link rel="stylesheet" href="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="assets/css/iconfont.css">
    <!-- endinject -->
    <link rel="stylesheet" href="assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="assets/vendors/simplemde/simplemde.min.css">
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/scss/style.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="shortcut icon" href="assets/images/favicon.png" />

</head>

<body>
    <div class="main-wrapper">


        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="#" class="sidebar-brand">
          Qrious<span>Tech</span>
        </a>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="sidebar-body">
                <ul class="nav">
                    <!-- <li class="nav-item nav-category">Main</li> -->
                    <li class="nav-item">
                        <a href="index" class="nav-link">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user">
                            <i class="link-icon" data-feather="user"></i>
                            <span class="link-title">User</span>
                            <!-- <i class="link-arrow" data-feather="chevron-down"></i> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="email">
                            <i class="link-icon" data-feather="mail"></i>
                            <span class="link-title">Email</span>
                            <!-- <i class="link-arrow" data-feather="chevron-down"></i> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="chat">
                            <i class="link-icon" data-feather="message-square"></i>
                            <span class="link-title">Chat</span>
                            <!-- <i class="link-arrow" data-feather="chevron-down"></i> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#emails" role="button" aria-expanded="false" aria-controls="emails">
                            <i class="link-icon" data-feather="settings"></i>
                            <span class="link-title">Setting</span>
                            <i class="link-arrow" data-feather="chevron-down"></i>
                        </a>
                        <div class="collapse" id="emails">
                            <ul class="nav sub-menu">
                                <li class="nav-item">
                                    <a href="change-password" class="nav-link">Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a href="profile" class="nav-link">Profile</a>
                                </li>

                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="page-wrapper">

            <%- include('partials/navbar') %> 

            <div class="page-content">

                <div class="row chat-wrapper">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row position-relative">
                                    <div class="col-lg-4 chat-aside border-lg-right">
                                        <div class="aside-content">
                                            <div class="aside-header">
                                                <form class="search-form">
                                                    <div class="input-group border rounded-sm">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text border-0 rounded-sm">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search icon-md cursor-pointer"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                                            </div>
                                                        </div>
                                                        <input type="text" class="form-control  border-0 rounded-sm" id="searchForm" placeholder="Search here...">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="aside-body">
                                                <!-- <ul class="nav nav-tabs mt-3" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="chats-tab" data-toggle="tab" href="#chats" role="tab" aria-controls="chats" aria-selected="true">
                                                            <div class="d-flex flex-row flex-lg-column flex-xl-row align-items-center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square icon-sm mr-sm-2 mr-lg-0 mr-xl-2 mb-md-1 mb-xl-0"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                                                <p class="d-none d-sm-block">Chats</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="calls-tab" data-toggle="tab" href="#calls" role="tab" aria-controls="calls" aria-selected="false">
                                                            <div class="d-flex flex-row flex-lg-column flex-xl-row align-items-center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call icon-sm mr-sm-2 mr-lg-0 mr-xl-2 mb-md-1 mb-xl-0"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                                <p class="d-none d-sm-block">Calls</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false">
                                                            <div class="d-flex flex-row flex-lg-column flex-xl-row align-items-center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users icon-sm mr-sm-2 mr-lg-0 mr-xl-2 mb-md-1 mb-xl-0"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                                                <p class="d-none d-sm-block">Contacts</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul> -->
                                                <div class="tab-content mt-3 ps ps--active-y">
                                                    <div class="tab-pane fade active show" id="chats" role="tabpanel" aria-labelledby="chats-tab">
                                                        <div>
                                                            <p class="text-muted mb-1">Recent chats</p>
                                                            <ul class="list-unstyled chat-list px-1">
                                                                <li class="chat-item pr-1">
                                                                    <a href="javascript:;" class="d-flex align-items-center">
                                                                        <figure class="mb-0 mr-2">
                                                                            <img src="assets/images/faces/face2.jpg" class="img-xs rounded-circle" alt="user">
                                                                            <div class="status online"></div>
                                                                        </figure>
                                                                        <div class="d-flex justify-content-between flex-grow border-bottom">
                                                                            <div>
                                                                                <p class="text-body font-weight-bold">John Doe</p>
                                                                                <p class="text-muted tx-13">Hi, How are you?</p>
                                                                            </div>
                                                                            <div class="d-flex flex-column align-items-end">
                                                                                <p class="text-muted tx-13 mb-1">4:32 PM</p>
                                                                                <!-- <div class="badge badge-pill badge-primary ml-auto">5</div> -->
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li class="chat-item pr-1">
                                                                    <a href="javascript:;" class="d-flex align-items-center">
                                                                        <figure class="mb-0 mr-2">
                                                                            <img src="assets/images/faces/face3.jpg" class="img-xs rounded-circle" alt="user">
                                                                            <div class="status offline"></div>
                                                                        </figure>
                                                                        <div class="d-flex justify-content-between flex-grow border-bottom">
                                                                            <div>
                                                                                <p class="text-body font-weight-bold">Carl Henson</p>
                                                                                <div class="d-flex align-items-center">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image text-muted icon-md mb-2px"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                                                                                    <p class="text-muted ml-1">Photo</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex flex-column align-items-end">
                                                                                <p class="text-muted tx-13 mb-1">05:24 PM</p>
                                                                                <!-- <div class="badge badge-pill badge-danger ml-auto">3</div> -->
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li class="chat-item pr-1">
                                                                    <a href="javascript:;" class="d-flex align-items-center">
                                                                        <figure class="mb-0 mr-2">
                                                                            <img src="assets/images/faces/face4.jpg" class="img-xs rounded-circle" alt="user">
                                                                            <div class="status offline"></div>
                                                                        </figure>
                                                                        <div class="d-flex justify-content-between flex-grow border-bottom">
                                                                            <div>
                                                                                <p class="text-body">John Doe</p>
                                                                                <p class="text-muted tx-13">Hi, How are you?</p>
                                                                            </div>
                                                                            <div class="d-flex flex-column align-items-end">
                                                                                <p class="text-muted tx-13 mb-1">Yesterday</p>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li class="chat-item pr-1">
                                                                    <a href="javascript:;" class="d-flex align-items-center">
                                                                        <figure class="mb-0 mr-2">
                                                                            <img src="assets/images/faces/face5.jpg" class="img-xs rounded-circle" alt="user">
                                                                            <div class="status online"></div>
                                                                        </figure>
                                                                        <div class="d-flex justify-content-between flex-grow border-bottom">
                                                                            <div>
                                                                                <p class="text-body">Jensen Combs</p>
                                                                                <div class="d-flex align-items-center">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video text-muted icon-md mb-2px"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                                                                                    <p class="text-muted ml-1">Video</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex flex-column align-items-end">
                                                                                <p class="text-muted tx-13 mb-1">2 days ago</p>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li class="chat-item pr-1">
                                                                    <a href="javascript:;" class="d-flex align-items-center">
                                                                        <figure class="mb-0 mr-2">
                                                                            <img src="assets/images/faces/face6.jpg" class="img-xs rounded-circle" alt="user">
                                                                            <div class="status offline"></div>
                                                                        </figure>
                                                                        <div class="d-flex justify-content-between flex-grow border-bottom">
                                                                            <div>
                                                                                <p class="text-body">Yaretzi Mayo</p>
                                                                                <p class="text-muted tx-13">Hi, How are you?</p>
                                                                            </div>
                                                                            <div class="d-flex flex-column align-items-end">
                                                                                <p class="text-muted tx-13 mb-1">4 week ago</p>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li class="chat-item pr-1">
                                                                    <a href="javascript:;" class="d-flex align-items-center">
                                                                        <figure class="mb-0 mr-2">
                                                                            <img src="assets/images/faces/face2.jpg" class="img-xs rounded-circle" alt="user">
                                                                            <div class="status offline"></div>
                                                                        </figure>
                                                                        <div class="d-flex justify-content-between flex-grow border-bottom">
                                                                            <div>
                                                                                <p class="text-body font-weight-bold">John Doe</p>
                                                                                <p class="text-muted tx-13">Hi, How are you?</p>
                                                                            </div>
                                                                            <div class="d-flex flex-column align-items-end">
                                                                                <p class="text-muted tx-13 mb-1">4:32 PM</p>
                                                                                <div class="badge badge-pill badge-primary ml-auto">5</div>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li class="chat-item pr-1">
                                                                    <a href="javascript:;" class="d-flex align-items-center">
                                                                        <figure class="mb-0 mr-2">
                                                                            <img src="assets/images/faces/face3.jpg" class="img-xs rounded-circle" alt="user">
                                                                            <div class="status online"></div>
                                                                        </figure>
                                                                        <div class="d-flex justify-content-between flex-grow border-bottom">
                                                                            <div>
                                                                                <p class="text-body font-weight-bold">Leonardo Payne</p>
                                                                                <div class="d-flex align-items-center">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image text-muted icon-md mb-2px"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                                                                                    <p class="text-muted ml-1">Photo</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex flex-column align-items-end">
                                                                                <p class="text-muted tx-13 mb-1">6:11 PM</p>
                                                                                <div class="badge badge-pill badge-danger ml-auto">3</div>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li class="chat-item pr-1">
                                                                    <a href="javascript:;" class="d-flex align-items-center">
                                                                        <figure class="mb-0 mr-2">
                                                                            <img src="assets/images/faces/face4.jpg" class="img-xs rounded-circle" alt="user">
                                                                            <div class="status online"></div>
                                                                        </figure>
                                                                        <div class="d-flex justify-content-between flex-grow border-bottom">
                                                                            <div>
                                                                                <p class="text-body">John Doe</p>
                                                                                <p class="text-muted tx-13">Hi, How are you?</p>
                                                                            </div>
                                                                            <div class="d-flex flex-column align-items-end">
                                                                                <p class="text-muted tx-13 mb-1">Yesterday</p>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li class="chat-item pr-1">
                                                                    <a href="javascript:;" class="d-flex align-items-center">
                                                                        <figure class="mb-0 mr-2">
                                                                            <img src="assets/images/faces/face5.jpg" class="img-xs rounded-circle" alt="user">
                                                                            <div class="status online"></div>
                                                                        </figure>
                                                                        <div class="d-flex justify-content-between flex-grow border-bottom">
                                                                            <div>
                                                                                <p class="text-body">Leonardo Payne</p>
                                                                                <div class="d-flex align-items-center">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video text-muted icon-md mb-2px"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                                                                                    <p class="text-muted ml-1">Video</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex flex-column align-items-end">
                                                                                <p class="text-muted tx-13 mb-1">2 days ago</p>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li class="chat-item pr-1">
                                                                    <a href="javascript:;" class="d-flex align-items-center">
                                                                        <figure class="mb-0 mr-2">
                                                                            <img src="assets/images/faces/face6.jpg" class="img-xs rounded-circle" alt="user">
                                                                            <div class="status online"></div>
                                                                        </figure>
                                                                        <div class="d-flex justify-content-between flex-grow border-bottom">
                                                                            <div>
                                                                                <p class="text-body">John Doe</p>
                                                                                <p class="text-muted tx-13">Hi, How are you?</p>
                                                                            </div>
                                                                            <div class="d-flex flex-column align-items-end">
                                                                                <p class="text-muted tx-13 mb-1">4 week ago</p>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="calls" role="tabpanel" aria-labelledby="calls-tab">
                                                        <p class="text-muted mb-1">Recent calls</p>
                                                        <ul class="list-unstyled chat-list px-1">
                                                            <li class="chat-item pr-1">
                                                                <a href="javascript:;" class="d-flex align-items-center">
                                                                    <figure class="mb-0 mr-2">
                                                                        <img src="assets/images/faces/face4.jpg" class="img-xs rounded-circle" alt="user">
                                                                        <div class="status online"></div>
                                                                    </figure>
                                                                    <div class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                        <div>
                                                                            <p class="text-body">Jensen Combs</p>
                                                                            <div class="d-flex align-items-center">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right icon-sm text-success mr-1"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg>
                                                                                <p class="text-muted tx-13">Today, 03:11 AM</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column align-items-end">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call text-success icon-md"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="chat-item pr-1">
                                                                <a href="javascript:;" class="d-flex align-items-center">
                                                                    <figure class="mb-0 mr-2">
                                                                        <img src="assets/images/faces/face5.jpg" class="img-xs rounded-circle" alt="user">
                                                                        <div class="status offline"></div>
                                                                    </figure>
                                                                    <div class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                        <div>
                                                                            <p class="text-body">Leonardo Payne</p>
                                                                            <div class="d-flex align-items-center">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-left icon-sm text-success mr-1"><line x1="17" y1="7" x2="7" y2="17"></line><polyline points="17 17 7 17 7 7"></polyline></svg>
                                                                                <p class="text-muted tx-13">Today, 11:41 AM</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column align-items-end">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video text-success icon-md"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="chat-item pr-1">
                                                                <a href="javascript:;" class="d-flex align-items-center">
                                                                    <figure class="mb-0 mr-2">
                                                                        <img src="assets/images/faces/face6.jpg" class="img-xs rounded-circle" alt="user">
                                                                        <div class="status offline"></div>
                                                                    </figure>
                                                                    <div class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                        <div>
                                                                            <p class="text-body">Carl Henson</p>
                                                                            <div class="d-flex align-items-center">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-left icon-sm text-danger mr-1"><line x1="17" y1="7" x2="7" y2="17"></line><polyline points="17 17 7 17 7 7"></polyline></svg>
                                                                                <p class="text-muted tx-13">Today, 04:24 PM</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column align-items-end">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call text-danger icon-md"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="chat-item pr-1">
                                                                <a href="javascript:;" class="d-flex align-items-center">
                                                                    <figure class="mb-0 mr-2">
                                                                        <img src="assets/images/faces/face7.jpg" class="img-xs rounded-circle" alt="user">
                                                                        <div class="status online"></div>
                                                                    </figure>
                                                                    <div class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                        <div>
                                                                            <p class="text-body">Jensen Combs</p>
                                                                            <div class="d-flex align-items-center">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-left icon-sm text-danger mr-1"><line x1="17" y1="7" x2="7" y2="17"></line><polyline points="17 17 7 17 7 7"></polyline></svg>
                                                                                <p class="text-muted tx-13">Today, 12:53 AM</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column align-items-end">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video text-danger icon-md"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="chat-item pr-1">
                                                                <a href="javascript:;" class="d-flex align-items-center">
                                                                    <figure class="mb-0 mr-2">
                                                                        <img src="assets/images/faces/face2.jpg" class="img-xs rounded-circle" alt="user">
                                                                        <div class="status online"></div>
                                                                    </figure>
                                                                    <div class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                        <div>
                                                                            <p class="text-body">John Doe</p>
                                                                            <div class="d-flex align-items-center">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-left icon-sm text-success mr-1"><line x1="17" y1="7" x2="7" y2="17"></line><polyline points="17 17 7 17 7 7"></polyline></svg>
                                                                                <p class="text-muted tx-13">Today, 01:42 AM</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column align-items-end">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video text-success icon-md"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="chat-item pr-1">
                                                                <a href="javascript:;" class="d-flex align-items-center">
                                                                    <figure class="mb-0 mr-2">
                                                                        <img src="assets/images/faces/face3.jpg" class="img-xs rounded-circle" alt="user">
                                                                        <div class="status offline"></div>
                                                                    </figure>
                                                                    <div class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                        <div>
                                                                            <p class="text-body">John Doe</p>
                                                                            <div class="d-flex align-items-center">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right icon-sm text-success mr-1"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg>
                                                                                <p class="text-muted tx-13">Today, 12:01 AM</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column align-items-end">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call text-success icon-md"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
                                                        <p class="text-muted mb-1">Contacts</p>
                                                        <ul class="list-unstyled chat-list px-1">
                                                            <li class="chat-item pr-1">
                                                                <a href="javascript:;" class="d-flex align-items-center">
                                                                    <figure class="mb-0 mr-2">
                                                                        <img src="assets/images/faces/face2.jpg" class="img-xs rounded-circle" alt="user">
                                                                        <div class="status offline"></div>
                                                                    </figure>
                                                                    <div class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                        <div>
                                                                            <p class="text-body">Amiah Burton</p>
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="text-muted tx-13">Front-end Developer</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex align-items-end text-body">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square icon-md text-success mr-2"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call icon-md text-primary mr-2"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video icon-md text-danger"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="chat-item pr-1">
                                                                <a href="javascript:;" class="d-flex align-items-center">
                                                                    <figure class="mb-0 mr-2">
                                                                        <img src="assets/images/faces/face3.jpg" class="img-xs rounded-circle" alt="user">
                                                                        <div class="status online"></div>
                                                                    </figure>
                                                                    <div class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                        <div>
                                                                            <p class="text-body">John Doe</p>
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="text-muted tx-13">Back-end Developer</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex align-items-end text-body">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square icon-md text-success mr-2"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call icon-md text-primary mr-2"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video icon-md text-danger"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="chat-item pr-1">
                                                                <a href="javascript:;" class="d-flex align-items-center">
                                                                    <figure class="mb-0 mr-2">
                                                                        <img src="assets/images/faces/face4.jpg" class="img-xs rounded-circle" alt="user">
                                                                        <div class="status offline"></div>
                                                                    </figure>
                                                                    <div class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                        <div>
                                                                            <p class="text-body">Yaretzi Mayo</p>
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="text-muted tx-13">Fullstack Developer</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex align-items-end text-body">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square icon-md text-success mr-2"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call icon-md text-primary mr-2"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video icon-md text-danger"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="chat-item pr-1">
                                                                <a href="javascript:;" class="d-flex align-items-center">
                                                                    <figure class="mb-0 mr-2">
                                                                        <img src="assets/images/faces/face5.jpg" class="img-xs rounded-circle" alt="user">
                                                                        <div class="status offline"></div>
                                                                    </figure>
                                                                    <div class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                        <div>
                                                                            <p class="text-body">John Doe</p>
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="text-muted tx-13">Front-end Developer</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex align-items-end text-body">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square icon-md text-success mr-2"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call icon-md text-primary mr-2"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video icon-md text-danger"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                                    </div>
                                                    <div class="ps__rail-y" style="top: 0px; height: 270px; right: 0px;">
                                                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 110px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 chat-content show">
                                        <div class="chat-header border-bottom pb-2">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-up-left icon-lg mr-2 ml-n2 text-muted d-lg-none"
                                                        id="backToChatList"><polyline points="9 14 4 9 9 4"></polyline><path d="M20 20v-7a4 4 0 0 0-4-4H4"></path></svg>
                                                    <figure class="mb-0 mr-2">
                                                        <img src="assets/images/faces/face2.jpg" class="img-sm rounded-circle" alt="image">
                                                        <div class="status online"></div>
                                                        <div class="status online"></div>
                                                    </figure>
                                                    <div>
                                                        <p>Mariana Zenha</p>
                                                        <p class="text-muted tx-13">Front-end Developer</p>
                                                    </div>
                                                </div>
                                                <!-- <div class="d-flex align-items-center mr-n1">
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video icon-lg text-muted mr-3" data-toggle="tooltip"
                                                            title="" data-original-title="Start video call"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                                                    </a>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call icon-lg text-muted mr-0 mr-sm-3" data-toggle="tooltip"
                                                            title="" data-original-title="Start voice call"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                    </a>
                                                    <a href="#" class="d-none d-sm-block">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus icon-lg text-muted" data-toggle="tooltip"
                                                            title="" data-original-title="Add to contacts"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                                                    </a>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="chat-body ps ps--active-y">
                                            <ul class="messages">
                                                <li class="message-item friend">
                                                    <img src="assets/images/faces/face2.jpg" class="img-xs rounded-circle" alt="avatar">
                                                    <div class="content">
                                                        <div class="message">
                                                            <div class="bubble">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                            </div>
                                                            <span>8:12 PM</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="message-item me">
                                                    <img src="assets/images/faces/face1.jpg" class="img-xs rounded-circle" alt="avatar">
                                                    <div class="content">
                                                        <div class="message">
                                                            <div class="bubble">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting industry.</p>
                                                            </div>
                                                        </div>
                                                        <div class="message">
                                                            <div class="bubble">
                                                                <p>Lorem Ipsum.</p>
                                                            </div>
                                                            <span>8:13 PM</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="message-item friend">
                                                    <img src="assets/images/faces/face2.jpg" class="img-xs rounded-circle" alt="avatar">
                                                    <div class="content">
                                                        <div class="message">
                                                            <div class="bubble">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                            </div>
                                                            <span>8:15 PM</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="message-item me">
                                                    <img src="assets/images/faces/face1.jpg" class="img-xs rounded-circle" alt="avatar">
                                                    <div class="content">
                                                        <div class="message">
                                                            <div class="bubble">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting industry.</p>
                                                            </div>
                                                            <span>8:15 PM</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="message-item friend">
                                                    <img src="assets/images/faces/face2.jpg" class="img-xs rounded-circle" alt="avatar">
                                                    <div class="content">
                                                        <div class="message">
                                                            <div class="bubble">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                            </div>
                                                            <span>8:17 PM</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="message-item me">
                                                    <img src="assets/images/faces/face1.jpg" class="img-xs rounded-circle" alt="avatar">
                                                    <div class="content">
                                                        <div class="message">
                                                            <div class="bubble">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting industry.</p>
                                                            </div>
                                                        </div>
                                                        <div class="message">
                                                            <div class="bubble">
                                                                <p>Lorem Ipsum.</p>
                                                            </div>
                                                            <span>8:18 PM</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="message-item friend">
                                                    <img src="assets/images/faces/face2.jpg" class="img-xs rounded-circle" alt="avatar">
                                                    <div class="content">
                                                        <div class="message">
                                                            <div class="bubble">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                            </div>
                                                            <span>8:22 PM</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="message-item me">
                                                    <img src="assets/images/faces/face1.jpg" class="img-xs rounded-circle" alt="avatar">
                                                    <div class="content">
                                                        <div class="message">
                                                            <div class="bubble">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting industry.</p>
                                                            </div>
                                                            <span>8:30 PM</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                            </div>
                                            <div class="ps__rail-y" style="top: 0px; height: 315px; right: 0px;">
                                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 114px;"></div>
                                            </div>
                                        </div>
                                        <div class="chat-footer d-flex">
                                            <!-- <div>
                                                <button type="button" class="btn border btn-icon rounded-circle mr-2" data-toggle="tooltip" title="" data-original-title="Emoji">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile text-muted"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
                        </button>
                                            </div> -->
                                            <div class="d-none d-md-block">
                                                <button type="button" class="btn border btn-icon rounded-circle mr-2 chat-attechment" data-toggle="tooltip" title="" data-original-title="Attatch files">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-paperclip text-muted"><path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path></svg>
                                                        <input type="file" name="file"/>
                                                </button>
                                            </div>
                                            <!-- <div class="d-none d-md-block">
                                                <button type="button" class="btn border btn-icon rounded-circle mr-2" data-toggle="tooltip" title="" data-original-title="Record you voice">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mic text-muted"><path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path><path d="M19 10v2a7 7 0 0 1-14 0v-2"></path><line x1="12" y1="19" x2="12" y2="23"></line><line x1="8" y1="23" x2="16" y2="23"></line></svg>
                        </button>
                                            </div> -->
                                            <form class="search-form flex-grow mr-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control rounded-pill" id="chatForm" placeholder="Type a message">
                                                </div>
                                            </form>
                                            <div>
                                                <button type="button" class="btn btn-primary btn-icon rounded-circle">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                        </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/footer') %> 

        </div>
    </div>

    <!-- core:js -->
    <script src="assets/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="assets/vendors/chartjs/Chart.min.js"></script>
    <script src="assets/vendors/jquery.flot/jquery.flot.js"></script>
    <script src="assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
    <script src="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/vendors/feather-icons/feather.min.js"></script>
    <script src="assets/js/template.js"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/apexcharts.js"></script>
    <script src="assets/js/template.js"></script>
    <script src="assets/vendors/select2/select2.min.js"></script>
    <script src="assets/vendors/simplemde/simplemde.min.js"></script>
    <script src="assets/js/email.js"></script>
    <!-- end custom js for this page -->
</body>

</html>
   