<%- include('partials/header') %> 

    <link rel="stylesheet" href="assets/vendors/core/core.css">

    <link rel="stylesheet" href="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="assets/css/iconfont.css">
    <!-- endinject -->
    <link rel="stylesheet" href="assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="assets/vendors/simplemde/simplemde.min.css">
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/scss/style.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="shortcut icon" href="assets/images/favicon.png" />

</head>

<body>
    <div class="main-wrapper">


        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="#" class="sidebar-brand">
          Qrious<span>Tech</span>
        </a>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="sidebar-body">
                <ul class="nav">
                    <!-- <li class="nav-item nav-category">Main</li> -->
                    <li class="nav-item">
                        <a href="index" class="nav-link">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user">
                            <i class="link-icon" data-feather="user"></i>
                            <span class="link-title">User</span>
                            <!-- <i class="link-arrow" data-feather="chevron-down"></i> -->
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="email">
                            <i class="link-icon" data-feather="mail"></i>
                            <span class="link-title">Email</span>
                            <!-- <i class="link-arrow" data-feather="chevron-down"></i> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="chat">
                            <i class="link-icon" data-feather="message-square"></i>
                            <span class="link-title">Chat</span>
                            <!-- <i class="link-arrow" data-feather="chevron-down"></i> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#emails" role="button" aria-expanded="false" aria-controls="emails">
                            <i class="link-icon" data-feather="settings"></i>
                            <span class="link-title">Setting</span>
                            <i class="link-arrow" data-feather="chevron-down"></i>
                        </a>
                        <div class="collapse" id="emails">
                            <ul class="nav sub-menu">
                                <li class="nav-item">
                                    <a href="change-password" class="nav-link">Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a href="profile" class="nav-link">Profile</a>
                                </li>

                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="page-wrapper">

            <%- include('partials/navbar') %> 

            <div class="page-content">

                <div class="row inbox-wrapper">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 email-aside border-lg-right">
                                        <div class="aside-content">
                                            <!-- <div class="aside-header">
                                                <button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse" type="button"><span class="icon"><i data-feather="chevron-down"></i></span></button><span class="title">Mail Service</span>
                                                <p class="description">amiahburton@gmail.com</p>
                                            </div> -->
                                            <div class="aside-compose"><a class="btn btn-primary btn-block" href="compose-email">Compose Email</a></div>
                                            <div class="aside-nav collapse">
                                                <ul class="nav">
                                                    <li class="active"><a href="email"><span class="icon"><i data-feather="inbox"></i></span>Inbox<span class="badge badge-danger-muted text-white font-weight-bold float-right">2</span></a></li>
                                                    <li><a href="#"><span class="icon"><i data-feather="mail"></i></span>Sent Mail</a></li>
                                                    <!-- <li><a href="#"><span class="icon"><i data-feather="briefcase"></i></span>Important<span class="badge badge-info-muted text-white font-weight-bold float-right">4</span></a></li>
                                                    <li><a href="#"><span class="icon"><i data-feather="file"></i></span>Drafts</a></li>
                                                    <li><a href="#"><span class="icon"><i data-feather="star"></i></span>Tags</a></li>
                                                    <li><a href="#"><span class="icon"><i data-feather="trash"></i></span>Trash</a></li> -->
                                                </ul>
                                                <!-- <span class="title">Labels</span>
                                                <ul class="nav nav-pills nav-stacked">
                                                    <li>
                                                        <a href="#"><i data-feather="tag" class="text-warning"></i> Important </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i data-feather="tag" class="text-primary"></i> Business </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> <i data-feather="tag" class="text-info"></i> Inspiration </a>
                                                    </li>
                                                </ul> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 email-content">
                                        <div class="email-head">
                                            <div class="email-head-title d-flex align-items-center">
                                                New message
                                            </div>
                                        </div>
                                        <div class="email-compose-fields">
                                            <div class="to">
                                                <div class="form-group row py-0">
                                                    <label class="col-md-1 control-label">To:</label>
                                                    <div class="col-md-11">
                                                        <div class="form-group">
                                                            <input type="email" name="mailcomposeTo" id="mailcomposeTo" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="to cc">
                                                <div class="form-group row pt-1 pb-3">
                                                    <label class="col-md-1 control-label">Cc</label>
                                                    <div class="col-md-11">
                                                        <div class="form-group">
                                                            <input type="email" name="mailcomposecc" id="mailcomposecc" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="subject">
                                                <div class="form-group row py-0">
                                                    <label class="col-md-1 control-label">Subject</label>
                                                    <div class="col-md-11">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="email editor">
                                            <div class="col-md-12">
                                                <div class="form-group row py-0">
                                                    <label class="col-md-12 control-label">Message</label>
                                                    <div class="col-md-12">
                                                        <textarea name="messageMail" id="messgeMail" rows="10" style="width: 100%; border: 1px solid #e8ebf1; font-weight: 400;               font-size: .875rem; padding:8px 16px;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="email action-send">
                                                <div class="col-md-12">
                                                    <div class="form-group mb-0">
                                                        <button class="btn btn-primary btn-space" type="submit"><i class="icon s7-mail"></i> Send</button>
                                                        <button class="btn btn-secondary btn-space" type="button"><i class="icon s7-close"></i> Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <%- include('partials/footer') %> 

        </div>
    </div>

    <!-- core:js -->
    <script src="assets/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="assets/vendors/chartjs/Chart.min.js"></script>
    <script src="assets/vendors/jquery.flot/jquery.flot.js"></script>
    <script src="assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
    <script src="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/vendors/feather-icons/feather.min.js"></script>
    <script src="assets/js/template.js"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/apexcharts.js"></script>
    <script src="assets/js/template.js"></script>
    <script src="assets/vendors/select2/select2.min.js"></script>
    <script src="assets/vendors/simplemde/simplemde.min.js"></script>
    <script src="assets/js/email.js"></script>
    <!-- end custom js for this page -->
</body>


</html>